.emptyCart {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0;
}

.emptyCartImage {
    object-fit: contain;
}

.button,
.placeOrderButton {
    padding: 10px 20px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    color: white;
    background-color: red;
    transform: scale(1, 1);
    transition: transform 0.5s ease;
    cursor: pointer;
}

.button:hover,
.placeOrderButton:hover {
    transform: scale(1.075, 1.075);
    background-color: tomato;
}

.Cart {
    display: flex;
    justify-content: center;
    gap: 2vw;
    margin: 20px 10px 10px;
}

.cartItemCards {
    width: 70%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
}

.imageContainer{
    padding-right: 20px;
}

.cartImage {
    object-fit: contain;
}

.orderBottom {
    padding: 10px;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.cartItemCard {
    width: 100%;
    display: flex;
    padding: 10px;
    border-bottom: 1px solid rgb(202, 202, 202);
}

.cartItemDetails {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.productName:hover {
    color: red;
}

.productPrice {
    font-weight: 600;
}

.quantity {
    display: flex;
    align-items: center;
    gap: 10px;
}

.minus,
.plus,
.num {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(240, 240, 240);
}

.minus,
.plus {
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.num {
    width: 40px;
}

.remove {
    font-weight: 600;
    cursor: pointer;
    font-size: 14px;
}

.priceDetailContainer {
    width: 300px;
}

.priceDetail {
    padding: 20px;
    width: 100%;
    height: auto;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
}

.priceDetail>h4 {
    border-bottom: 1px solid rgb(202, 202, 202);
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.priceRow,
.totalPrice {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.totalPrice {
    margin-top: 10px;
    padding-top: 20px;
    border-top: 1px solid rgb(202, 202, 202);
}

@media screen and (max-width: 768px) {
    .Cart {
        font-size: 1.5vw;
    }

    .cartItemCards{
        width: 70%;
    }

    .priceDetailContainer{
        width: 25%;
    }

    .priceDetail {
        padding: 2vw;
    }

    .priceRow,
    .totalPrice {
        padding: 1vw 0;
    }

    .remove {
        font-size: 1.25vw;
    }

    .minus,
    .plus,
    .num {
        height: 3vw;
        width: 3vw;
    }

    .num {
        width: 4vw;
    }

    .orderBottom {
        padding: 1vw;
    }

    .placeOrderButton {
        font-size: 1.5vw;
    }
    .imageContainer{
        width: 15vh;
        height: auto;
    }
    .cartImage {
        width: 100%;
        height: 100%;
    }
    .placeOrderButton{
        padding: 0.7vw 1.3vw;
    }
}