.heroBannerContainer {
    width: 100%; 
}

.heroBannerImage {
    width: 100%; 
    height: auto;
    object-fit: contain;
}

@media screen and (min-width: 1024px) {
    .heroBannerImage {
        height: 350px;
    }
}
