.productsContainer{
    widows: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    /* gap: 10px; */
    background-color: rgb(245, 245, 245);
}

.productContainer{
    /* flex: 1; */
    width: 260px;
    /* border: 1px solid black; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transform: scale(1, 1);
    transition: transform 0.5s ease;
}
.productContainer:hover{
    transform: scale(1.1,1.1)
  }
.imageContainer{
    width: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.productImage{
    object-fit: contain;
    width: 100%;
    height: 300px;
}
.productDetails{
    padding-top: 10px;
    height: 80px;
    /* background-color: grey; */
}
.productDetailsBottom{
    display: flex;
    justify-content: space-between;
}
.rating{
    display: flex;
}